.header {
    color: white;
    padding: 10 px 0;
    text-align: center;
}

.logo{
    height: 100px;
}

.nav{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.nav li{
    margin: 0 10px;
}

.nav a{
    color: white;
    text-decoration: none;
    transition: color 0.3;
}

.nav a:hover{
    color: aqua;
}